
h1{
    margin-top: 50px;
    color: cadetblue;
    margin-bottom: 50px;
}
h2{
    margin-bottom: 40px;
}
.khoi{
margin-bottom: 70px;
}
h6{
    color: red;
}
p{
    color: gray;
}
img{
    padding-top: 80px;
    height: 550px;
}